<table class="table" cellpadding=0 cellspacing=0>
  <thead>
    <tr>
      <td>Codigo</td>
      <td>Descripcion</td>
      <td>Stock</td>
      <td>Precio</td>
      <td>Categoria</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2846</td>
      <td>Gorrito de Navidad</td>
      <td>23</td>
      <td>99.99</td>
      <td>Adornos de Navidad</td>
    </tr>
    <tr>
      <td>2846</td>
      <td>Gorrito de Navidad</td>
      <td>23</td>
      <td>99.99</td>
      <td>Adornos de Navidad</td>
    </tr>
  </tbody>
</table>
